/********** FONT **********/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

/********** MIXINS **********/
@mixin ext-lines {
  content: "";
  position: absolute;
  width: 3em;
  height: 0.35em;
  background-color: $darkColor;
  border-radius: 0.25em;
  transition: all .5s ease-in-out;
}

@mixin all-lines ($transform) {
  transform: $transform;
  width: 3.5em;
}

@mixin transition {
  transition: all .5s ease-in-out;
}

/********** COLORS **********/
$darkColor: #202124;
$lightColor: #fff;

/********** GENERAL **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkColor;
  color: $lightColor;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;

  .container {
    background-color: $lightColor;
    color: $darkColor;
    min-height: 100vh;
    padding: 2em;
    transform-origin: top left;
    @include transition;

    .btn-menu {
      position: relative;
      display: flex;
      align-items: center;
      width: 3.5em;
      height: 3.5em;
      cursor: pointer;
      @include transition;

      .btn-menu__burger {
        width: 3em;
        height: 0.35em;
        background-color: $darkColor;
        border-radius: 0.25em;
        @include transition;
        
        &::before {
          transform: translateY(-1em);
          @include ext-lines;
        }
        &::after {
          transform: translateY(1em);
          @include ext-lines;
        }
      }
    }
    .btn-menu.open .btn-menu__burger {
      background: transparent;
      box-shadow: none;
      @include all-lines (translateX(-4em));

      &::before {
        @include all-lines (rotate(45deg) translate(2.5em, -2.5em));
      }
      &::after {
        @include all-lines (rotate(-45deg) translate(2.5em, 2.5em));
      }
    }
  }

  .container.show {
    transform: rotate(-10deg);
    @include transition;
  }
  
  .nav-menu {
    position: fixed;
    bottom: 2em;
    left: 0;
    padding: 0.8em;
    
    li {
      list-style: none;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $lightColor;

        img {
          width: 1em;
          margin: 0.5em 0.35em;
          font-size: 1.25em;
        }
      }
    }
  }
}